{
	"camera id": "00007",
	"camera path": 0,
	"storage server": "http://storage.face-crm.datasection.com.vn:5000/api/basic/push",
	"capture interval": 3600,
	"custom roi": 0,
	"debug": 
	{
		"debug time": 10,
		"enabled": false,
		"storage": "debug"
	},
	"display": 1,
	"height": 414,
	"inform interval": 60,
	"left": 39,
	"local capture": "capture",
	"local storage": "images",
	"min face": 50,
	"ping file": "ping.log",
	"shop id": "00003",
	"skip frame": 2,
	"top": 42,
	"w_view_size": 10,
	"width": 592
}